/*stylesheet for first sketch */

html{
	

}

body{
	

}

.container{
	width:1000px;
}
.clearfix{

}

/*.row {
  margin-bottom: 0;
}

.row .row {
  margin-bottom: 0;
}*/
.row{
	margin-left: 0;
	margin-right: 0;
}
[class*="col-"] {
  padding-top: 0px;
  background-color: #eee;
  background-color: #FFF;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  padding-left: 0;
  padding-right: 0;
 
}


.navbar{
	margin:0;
	margin-left:0px;
	margin-right:0px;
	height:48px;
	background-color: #FFF;
	border-radius: 0;
}

.container-fluid{
	padding-right: 0;

}

span:hover{
	cursor: default;
	outline:none;
    border:none;
    box-shadow:none;
}
span:focus{
	border:none;
}


#toolbar{
	float:right;
	padding: 0;
}


.btn-tool{
	width:48px;
	height:48px;
	padding: 0;
	border-radius:0;
}

#group-menu{
height:30px;
background-color:#D9E8F5;

}

#prop-menu{
min-height:520px;
}

#object-menu{
min-height: 200px;
}

#canvas-container{
 min-height: 700px;

}
#canvas-container:focus{
	outline:none;
    border:none;
    box-shadow:none;
}

#context-menu {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    background-color: #5CA2B5;
   	height:30px;
}

#canvas{
	min-height:700px;
	width: 726px; /* this is bad, fix it */
}