@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.otf.woff');
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

html {
    width: 100%;
    height: 100%;
    min-height: 436px; /* height of menu (40px) + toolbar (n*36px) */
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;

    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
    text-rendering: geometricPrecision;
    overflow: hidden;
    background-color: #232323;
}

h2 {
    font-size: 100%;
    font: inherit;
    margin: 0;
}

button {
    background: none;
    border: none;
    color: #aaa;
    padding: 0;
    cursor: pointer;
}

button#sample_button {
    border: 1px solid #76777a;
    width: 30px;
    height: 30px;
    color: #76777a;
    background-color: rgba(250,250,250,.95);
}

div#log_div {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 100px;
    margin-top: 25px;
  }

@keyframes flash {
    from {background-color: red;}
    to {background-color: rgba(250,250,250,.95);}
}

button.animation{
    background-color: red;
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

label {
    letter-spacing: 0;
}

input {
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    text-rendering: geometricPrecision;
    color:#34332F;
}

input[type="text"] {
    background: none;
    color: inherit;
    border:0;
}

input[type="text"].filename{
 height:30px;
 margin-top: 5px;
 border:1px solid #aaa;
}

input[type="range"] {
    top: 1px;
    width: 200px;
    border: none;
    background-color: #B2B2B2;
    height: 10px;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    background-clip: padding-box;
    vertical-align: middle;
    outline: none;
    -webkit-appearance: none;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {
    height: 6px;
    width: 6px;
    background-color: #34332F;
    /* border: 1px solid #F7F6EE;*/
    border-radius: 100%;
    box-shadow: 0 0 0 3px #34332F;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb,
input[type="range"]:active::-webkit-slider-thumb {
    border-color: #fff;
}

.canvas-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.sub-canvas-container{
 display: none;
 width: 260px;
 height:300px;
 border:1px solid #000;
 overflow: hidden;
 box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.25)

}
.menubar-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    border-bottom: solid 1px #B2B2B2;
}
.menubar-container{
    height: 77px;

}

.toolbar-wrapper, .properties-wrapper, .proto-wrapper {
    display: inline-flex;
    vertical-align: top;
    float: right;
    position: relative;
    max-height: 100%;
    padding: 77px 0px 0px 0px;
    z-index:100;
}

.toolbar-wrapper {
  float: left;
}
.proto-wrapper, .sub-canvas-wrapper{
    float: left;
    padding: 36px 0px 0px 0px;

}

.properties-wrapper, .proto-wrapper{
    min-height: 100%;
    height: 100%;
}

.toolbar-container, .properties-container, .proto-container {
    max-height: 100%;
    overflow: hidden;
    background: rgba(250,250,250,0.95);
}

.properties-container, .proto-container {
    overflow-y: scroll;
}

.btn {
    display: inherit;
    margin-bottom: 0;
    font-weight: inherit;
    text-align: inherit
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    opacity: 1;
    border: none;
    white-space: nowrap;
}

.btn-default:disabled, .btn-default[disabled], .btn-default:hover:disabled, .btn-default[disabled]:hover{
    background-color: transparent;
}

.horz-btn{
}

.btn-default:hover:enabled, .btn-default:focus:enabled, .btn-default.active:enabled, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #cccccc;
}

.btn-tool{
    width:36px;
    height:36px;
    padding: 0;
    border-radius:0;
    border-bottom: solid 1px #B2B2B2;
    background-image: url(../images/icons.svg);
    background-size: 36px 576px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
}
#translationDelta {
    background-position-y: 0px;

}
#rotationDelta {
  background-position-y: -26px;
}

#scalingDelta {
  background-position-y: -52px;
}

#strokeWidth {
  background-position-y: -78px;
}

#fillColor {
  background-position-y: -104px;
}

#strokeColor {
  background-position-y: -130px;
}

#blendMode {
  background-position-y: -156px;
}

#add_button {
  background-position-y: -182px;
  border:none;
}

#lock_button{
  background-position-y: -208px;
}

#reference_button{
  background-position-y:-234px;
}


#exempt_button{
  background-position-y:-260px;
}

#exempt_button:hover {
background-color: transparent;
}

#exempt_button.active:hover {
background-color: #cccccc;
}




.btn-prop{
  width:22px;
  height:22px;
  background-image: url(../images/property_icons_2.svg);
  background-size: 20px 283px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  float:left;
  border: solid 1px #B2B2B2;
  margin-right:2px;
}

.btn-tool-horz{
    float:left;
    border-bottom: none;
    border: solid 1px #B2B2B2;
}
.btn-tool-horz-last{
    border-right:solid 1px #B2B2B2;
}
.btn-tool.active{
    background-color: rgba(200, 200, 200, 0.88);
}

#redoTool {
    background-position-y: -108px;
}
#undoTool {
    background-position-y: -72px;
}
#scaleTool {
    background-position-y: -144px;
}
#rotateTool {
    background-position-y: -252px;
}
#followPathTool {
    background-position-y: -180px;
}
#selectTool {
    background-position-y: -360px;
}
#dselectTool {
    background-position-y: -396px;
}
#penTool {
    background-position-y: -288px;
}
#polyTool {
    background-position-y: -324px;
}
#ellipseTool {
    background-position-y: 0px;
}
#rectangleTool {
    background-position-y: -36px;
}
#generateTool {
    background-position-y: -216px;
}
#constraintTool {
    background-position-y: -504px;
}
#modeStandard{
 background-position-y: -432px;
}
#modeProxy{
 background-position-y: -468px;
}
#modRelative{
 background-position-y: -540px;
 background-position-x: -18px;
 width:20px;
 height:20px;
 border: solid 1px #B2B2B2;
 border-right:none;

}
#modOverride{
    background-position-y: -540px;
    width:20px;
    height:20px;
    border: solid 1px #B2B2B2;
}
#constraintApply{
  visibility: hidden;
   background-position-y: -489px;
   margin-top: 10px
}

#constraintApply.active {
   background-position-y:  -435px;
   background-color: #cccccc;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    25%   {background-color: #cccccc;}
    50%  {background-color: white;}
    25%   {background-color: #cccccc;}
}

/* Standard syntax */
@keyframes example {
   25%   {background-color: #cccccc;}
   50%  {background-color: white;}
   25%   {background-color: #cccccc;}
}

#collectionToolbar .btn-tool-horz, #constraintToolbar .btn-tool-horz{
    background-image: url(../images/horz_buttons.svg);
    background-size: 54px 542px;
    height: 54px;
    width: 54px;
    border: none;
   
}
#collectionToolbar .btn-tool-horz{
  margin: 0 3px;
}

.button-heading {
  height: 100%;
  font-size: 10px;
  width: 60px;
  text-align: center;
  margin: 0;
  float: left;
}

.toolbar-input {
  width: 50px;
  float: left;
  height: 70px;
  text-align: center;
  padding-top: 10px;
}

#collectionToolbar #group{
}

#collectionToolbar #list{
    background-position-y: -108px;

}

#collectionToolbar #duplicator{
    background-position-y: -216px;

}

#collectionToolbar #ungroup{
    background-position-y: -324px;

}

#rangechaser {
    position: absolute;
    float: right;
    align-content: block;
    height: 3px;
    border-bottom: 1px solid #B2B2B2;
    box-sizing: border-box;
    text-align: right;
    margin: 0;
    margin: 11px 0 0 118px;
    top: 0;
    left: 0;
}

select{
    min-width:200px;
}

#collection-mapper{ 
   position: absolute;
   top: 80px;
   left: 40px;
   z-index: 1000;
   width: 252px;
   height: auto;
   bottom:auto;
   background-color: rgba(250,250,250,.95);
}

.constraint-properties-container{
  margin-left:10px;
  margin-right:10px;
}

.constraint-properties-container div{
  margin-bottom: 10px;
}
.constraint-properties-container label{
 float: left;
 margin-right:3px;
}


.tabs {
  position: relative;   
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
 
}
.tab label {
  background: #ccc; 
      padding: 5px 10px;
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  float: none;
}
.tab [type=radio] {
  display: none;   
}
[type=radio]:checked ~ label {
  background: none;
  border-bottom: 1px solid rgba(250,250,250,.85);
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
 background: #ccc;
}
.tab_rule {
  position: absolute;
  top: 21px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #ccc; 
}


canvas#collection-canvas {
  width: 175px;
  height: 175px;
  background-color: white;
  border: solid 1px rgb(170, 170, 170);
}

div#yaxis {
  width: 40px;
  height: 175px;
  float: left;
  text-align: center;
  }

 #xaxis ul {
  width: 175px;
  display: block;
  height: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: table;
}

#xaxis li {
text-decoration: none;
  list-style: none;
  display: table-cell;
  text-align: center;
}

  div#collection-container {
  float: left;
  width: 175px;
  height: 215px;
}
.selectel {
  border: solid 1px rgb(170, 170, 170);
  width: 205px;
  margin: 5px 0px 10px 0px;
}
.selectel select {
   background: transparent;
   width: 205px;
   padding: 5px;
   border: 0;
   border-radius: 0;
   height: 15px;
   }


input[type=text].constraint-text {
  width:150px;
  height: 20px;
  font-size: 14px;
}


input.constraint-text {
   background-color: white;
  text-align: center;
  width: 45px;
  height: 20px;
  font-size: 14px;
}

input.range-text {
  width: 25px;
  height: 18px;
  font-size: 11px;
}

#yaxis label{
  display: block;
  width: 40px;
  text-align: center
}
#yaxis .min {
  margin-top: 100px;
 
}
#toolbar{
    border-right: solid 1px #B2B2B2;
}
#modToolbar{
    height:20px;
    float:left;
    margin: 7px 0 0 0;
}
.horz-toolbar{
    height: 100%;
}
.horz-toolbar span{
    float:left;
    margin:10px 10px;
}
.horz-toolbar-section{
    margin-left:10px;
    width:300px;
    height:36px;
    float:left;
    margin-top: 20px;
}

#collectionToolbar, #constraintToolbar{
    margin-top: 2px;
    width: 300px;
    height: 70px;
}

#constraintToolbar{
    width: 70px;
}

.button-heading span {
  margin: 0;
  width: 100%;
  text-align: center;
}


input[type="button"]{
    background-color: inherit;
    border: 1px solid #B2B2B2;
}

.top-cap{
    height: 20px;
    background-color: #141414;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px #B2B2B2;
}

.bottom-cap{
    height: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #34332F;

}



.container{
    width:100%;
    padding:0;
}

section {
    position: relative;
}

#constraint-wheel-box {
    visibility: hidden;
}

#expInput {
  display: none;
}

#relationIndicator {
  float: left;
  width: 36px;
  height: 36px;
  border: 1px #aaa solid;
  background-position-y: -628px;
}

input[type=text]#expression {
  border: #aaa 1px solid;
  margin-top: 5px;
  height: 36px;
}

#relationSelector {
  position: absolute;
  visibility: hidden;
  top: 100px;
  left: -26px;
  height: 36px;
  width: 108px;  
} 

.btn-relation {
  height: 36px;
  width: 36px;
  background-image: url(../images/icons.svg);
  background-size: 36px 576px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  border: 1px #aaa solid;
}


#position:hover {
    fill: #FF0000;
    stroke: #FF0000;
}

#scale:hover {
    fill: #FF0000;
    stroke: #FF0000;
}

#orient-arrows:hover > #orient1{
    fill: #FF0000;
    stroke: #FF0000;
}

#orient-arrows:hover > #orient2{
    fill: #FF0000;
    stroke: #FF0000;
}

#fill:hover {
    fill: #FF0000;
}

#weight:hover {
    fill: #FF0000;
}

#stroke:hover > #stroke-inner {
    stroke: #FF0000;
    fill: #FF0000;
}

#stroke:hover > #stroke-outer {
    stroke: #FF0000;
    fill: #FF0000;
}


#constraint-type-box {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display:block;
    margin-bottom: 5px;
}

#more-container:hover > #more-box {
    stroke: #34332F;    
}

#more-container:hover > #more {
    stroke: #34332F;
}

#less-container:hover > #less-box {
    stroke: #34332F;    
}

#less-container:hover > #less {
    stroke: #34332F;    
}

#equal-container:hover > #equal-box {
    stroke: #34332F;    
}

#equal-container:hover > #equal-top {
    stroke: #34332F;    
}

#equal-container:hover > #equal-bottom {
    stroke: #34332F;    
}

.section-background {
    padding: 10px;
}

.toolbar-current {
    left: 0;
    position: absolute;
    width: 36px;
    background-color: #34332F;
    color: #F7F6EE;
    opacity: .66;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.95);
}

.properties, .proto{
    right: 0;
    top: 0;
    bottom: 0;
    width: 224px;
    height: 100%;
    color: #34332F;
}

.proto{
    width: 100px;
    left: 0;

}

.proto-item{
    background-color: #232323;
    margin-bottom: 1px;

}

header h2, .sub-header h3 {
    float: left;
}

.pop-over.header h2 {
    float:left;
    line-height: 18px;
}

.sub-header h3 {
    opacity: .66;
}

header button, .sub-header button {
    float: right;
    height: 16px;
    width: 16px;
}

.properties header{
    padding: 10px;
    box-sizing: border-box;
    line-height: 10pt;
    background-color: rgba(200, 200, 200, 0.88);
}
.layers-menu header{
    height:33px
}

#layer-footer {
    width: 100%;
    height: 20px;
    border-top: solid 1px #b2b2b2;
}

#layer-footer button {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 15px;
  background-position-y: -558px;
  border-bottom: none;
  border-left: solid 1px #b2b2b2;
  border-right: solid 1px #b2b2b2;

}

.horz-toolbar header {
    background-color: rgba(200, 200, 200, 0.88);
    width:20px;
    height:36px;
    float: left;
}

.clearfix {
    clear: both;
    display: block;
}

#logo{
    width:133px;
    height: 62px;
    float:left;
    background-color: #fff;
    padding: 5px;
    padding-left: 10px;
}

#help{
    width:49px;
    height: 62px;
    padding: 10px;
    padding-left: 17px;
    float:left;
    background-color: #fff;
    border-left: 1px solid #eee;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.container-fluid{
    padding-right: 0;
}

span:hover{
    cursor: default;
    outline:none;
    border:none;
    box-shadow:none;
}

span:focus{
    border:none;
}

#toolbar{
    float:right;
    padding: 0;
}

#group-menu{
    height:30px;
    background-color:#D9E8F5;
}

#object-menu{
    min-height: 200px;
}

#canvas-container{
    overflow: hidden;
}

#canvas-container:focus{
    outline:none;
    border:none;
    box-shadow:none;
}

#context-menu,  #behavior-types-menu, .layers-menu{
    position: absolute;
    visibility: hidden;
    z-index: 2;
    //min-width:140px;
    //min-height:60px;
    background: rgba(250,250,250,0.95)    
}
.layers-menu{
    visibility: visible;
}
.layers-menu li{
    list-style-type: none;
    width: 140px;
    height: 20px;
    padding:0;
    margin: 0;
    border-bottom: 1px solid #B2B2B2;
}
.layers-menu ul{
    width:140px;
    padding:0;
    margin:0;
}

.layers-menu div.visible, .layers-menu div.filled, .layers-menu div.name{
    float: left;
    height:20px;
    border-right: 1px solid #B2B2B2;

}

.layers-menu div.visible, .layers-menu div.filled {
    width:20px;
    background-image: url(../images/layer_icons.svg);
    background-position-x: 0px;
    background-size: 20px 80px;
    background-repeat: no-repeat;

}
.layers-menu div.visible{
    background-position-y: 0px;
}

.layers-menu div.filled{
    background-position-y: -40px;
}

.layers-menu div#active.visible{
    background-position-y: -20px;
}

.layers-menu div#active.filled{
    background-position-y: -60px;
}

.layers-menu div.name{
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

#constraint-menu {
    width: 100%;
    height: 100%;
}

#color-chooser{
    min-width:140px;
    min-height:60px;
}

#behavior-types-menu{
    z-index:3;
}

#context-menu a{
    cursor: pointer;
}

#context-menu div.row {
    padding:6px;
    min-height: 20px;
    background: rgba(250,250,250,0.95)    
}

#context-menu div.row#title-bar {
    min-height: 30px;
    padding: 4%;
    box-sizing: border-box;
    background: rgba(238, 238, 238, 0.88);
}

#context-menu #name{
    width:100px;
    float:left;
}

#context-menu div#close{
    float:right;
    font-weight: bolder;
    width: 10px;
    color:inherit;
}

#canvas{
    background-color: #5B5B5B;
}

#sub-canvas{
    width:258px;
    height:298px;
    background-color: #232323;
}


.input-group-addon{
    padding:0 l
    font-size: inherit; 
    font-weight: inherit; 
    line-height: inherit; 
    color: inherit; 
    text-align: inherit; 
    background-color: inherit; 
    border: none;
}

.form-group {
    margin-bottom: 10px;
}

.color-block{
    width:20px;
    height: 20px;
    border:solid 1px #76777a;
    display: block; 
    float:left;
    margin-right: 5px;
    cursor: pointer;
}

.color-block-selected{
    border:double 3px #76777a;
}

.color-form-group{
    float:left;
    display: inline
}

.color-form-group input{
    width:60px;
}

.remove-color{
    background-image: url('../images/nocolor.png') !important;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: #fff !important; 
}

#no-color{
    width:12px;
    height: 12px;
    margin-top: 20px;
}

.form-control{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: inherit;
    background-color: inherit;
    background-image: none;
    border: 1px solid #B2B2B2;
    -webkit-box-shadow: none;
    box-shadow:none;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*------ file select styling ------*/

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'upload a file';
    display: inline-block;
    background: inherit;
    border: 1px solid #B2B2B2;
    border-radius: 1px;
    padding: 3px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: none;
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    text-rendering: geometricPrecision;
    margin-top:5px;
}

.custom-file-input:hover::before {
    border-color:  #B2B2B2;
}

.custom-file-input:active::before {
    background: inherit;
}

/*------ color picker styling ------*/

.iris-picker {
    margin-bottom: 10px;
}

.iris-border {
    border-radius: 0 !important;
    border-color: #B2B2B2 !important;
    background-color: inherit !important;
}

.iris-picker .iris-square-handle {
    border: 2px solid #ccc !important;
    border-color: #34332F !important;
}

.iris-picker .iris-square-handle::after {
    border: 1px solid #ccc !important;
    border-radius: 50%;
    content: " ";
}

.iris-strip .ui-slider-handle:before {
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
}

.iris-picker .iris-strip .ui-slider-handle {
    border: 4px solid #34332f !important;
    border-width: 4px 3px !important;
    border-radius:0px !important; 
    box-shadow: none !important;
    opacity: 1 !important; 
}

/* list and tree styling */

.constraint-container{
    float:left;
    width:30px;
    position:relative;
    margin-top:33px;
    overflow: hidden;
}


.constraint-menu{
    width: 30px;
    float: left;
    margin:0;
    min-height: 10px;

}
.constraint-menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  
}
.constraint-menu  ul li {
  height: 40px;
  padding:10px;
  background-color: #666666;
  padding: 10px; 
  border-radius: 5px 0 0 5px;
  border-bottom: solid 1px #34332F;
  color: #ccc;
}

.constraint-menu ul li.opened {
    height: 125px;
    background-color: #ccc;
    color: #34332F;
}

div.constraint_selector {
  width: 30px;
  height: 275px;
  float: left;
  background-color: rgba(250,250,250,.95);
  margin:0;
  border-radius: 2px 0 0 2px;
}
div#connector_line {
    border-left: 2px solid #76787b;
    position: absolute;
    width:0;
    height:100px;
    margin-left:17px;
}


.properties-wrapper.layers-wrapper{
    /*float:left;*/
}

.layers-wrapper .properties-container{
    overflow-y: hidden;
    background: none;

}

.layers-wrapper .properties {
    width: 300px;
}

#layers{
    overflow-y: scroll;
    max-height: 500px;
}
#layers-container{
  width: 270px; 
  float:right; 
  background-color: rgba(250,250,250,.95);
}

#layers header{
    padding: 4%;
    box-sizing: border-box;
    line-height: 3pt;
    background-color: rgba(58,58,58, 0.88);
    color:#cccccc;
}

div.ui_tree {
  min-height: 30px;
}

span.fancytree-node{
    background-color: #CCCCCC;
    height: 30px;
    border-bottom: 1px solid #999999;
}
span.fancytree-node.fancytree-active{
    background-color: #9294A0;
}

ul.fancytree-container{
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    padding:0px;
    margin: 0;
    /*width: 225px;*/
    background-color: #CCCCCC;
    border: none;
}

ul.fancytree-container ul {
  padding: 0;
  margin: 0;
}
ul.fancytree-container ul li span{
    padding-left: 10px;
}
ul.fancytree-container ul span.fancytree-title {
    margin: 6px 0 0 1.5em;
}
span.fancytree-title{
    margin-top:6px;
}

.fancytree-container.fancytree-treefocus span.fancytree-title:hover,span.fancytree-node.fancytree-active span.fancytree-title, .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-focused span.fancytree-title {
    background-color: inherit;
    border:none;
}

span.fancytree-icon, span.fancytree-expander, span.fancytree-constraint, div.constraint_icon{
    width: 25px;
    height: 25px;
    background-image: url(../images/layer_icons.svg);
    background-position-x: 0px;
    background-position-y: -25px;
    background-size: 25px 325px;
    background-repeat: no-repeat;
}

div.constraint_icon {
  height: 31px;
  width: 25px;
  margin-left:5px;
  border: solid 1px #999;
  border-right:none;
  border-radius: 20px 0 0 20px;
  background-position-y: -123px;
  position:absolute;

}


span.fancytree-icon.hidden{
    background-position-y: 0px;

}

span.fancytree-expander{
   background-position-y: -225px; 
}

span.fancytree-expanded span.fancytree-expander{
   background-position-y: -250px; 
}
span.fancytree-constraint{
   background-position-y: -150px; 
}
span.fancytree-select-button{
  background-position-y: -300px;
  float: right;
  margin-right: 2px;

}
span.fancytree-select-button.selected{
  background-position-y: -275px;
  float: right;
  margin-right: 2px;
}

.fancytree-container span.fancytree-node.fancytree-selected span.fancytree-title,
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active span.fancytree-title,
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active.fancytree-selected span.fancytree-title{
  background-color: inherit;
  color:inherit;
  border: none;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title {
    background-color: inherit;

}
span.fancytree-node.fancytree-selected span.fancytree-constraint{
  background-position-y: 25px; 
}
span.sampler{
   background-position-y: -100px; 
}

   
fieldset label, fieldset input { 
  display:block; 
  margin-bottom:5px;
}
fieldset input.text { 
  margin-bottom:12px; 
  width:95%; 
  padding: .4em; 
}
fieldset { 
  padding:0; 
  border:0; 
  margin-top:25px; 
}
input.ui-widget-content, textarea.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
    color: #222222;
}

textarea.ui-widget-content {
width:450px;
height:100px;
  }

.validateTips { 
  border: 1px solid transparent; 
  padding: 0.3em; 
}

