@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.otf.woff');
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

html {
    width: 100%;
    height: 100%;
    min-height: 436px; /* height of menu (40px) + toolbar (n*36px) */
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;

    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
    text-rendering: geometricPrecision;

    background-color: #232323;
}

h2 {
    font-size: 100%;
    font: inherit;
    margin: 0;
}

button {
    background: none;
    border: none;
    color: #aaa;
    padding: 0;
    cursor: pointer;
}

label {
    letter-spacing: 0;
    margin-right: 10px;   
}

input {
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    text-rendering: geometricPrecision;
    color:#34332F;
}

input[type="text"] {
    background: none;
    color: inherit;
    border:0;
}

input[type="text"].filename{
     height:30px;
    margin-top: 5px;
    border:1px solid #aaa;
}

input[type="range"] {
    top: 1px;
    width: 200px;
    border: none;
    background-color: #B2B2B2;
    height: 1px;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    background-clip: padding-box;
    vertical-align: middle;
    outline: none;
    -webkit-appearance: none;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {
    height: 6px;
    width: 6px;
    background-color: #34332F;
    /* border: 1px solid #F7F6EE;*/
    border-radius: 100%;
    box-shadow: 0 0 0 3px #34332F;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb,
input[type="range"]:active::-webkit-slider-thumb {
    border-color: #fff;
}

.canvas-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.sub-canvas-container{
     display: none;
    width: 260px;
    height:300px;
    border:1px solid #000;
        overflow: hidden;
     box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.25)

}
.menubar-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 36px;
    overflow: hidden;
    border-bottom: solid 1px #B2B2B2;
    background: rgba(250,250,250,0.95);
}
.menubar-container{
}

.toolbar-wrapper, .properties-wrapper, .proto-wrapper {
    display: inline-flex;
    vertical-align: top;
    float: right;
    position: relative;
    max-height: 100%;
    padding: 36px 0px 0px 0px;
    z-index:100;
}

.proto-wrapper, .sub-canvas-wrapper{
    float: left;
   padding: 36px 0px 0px 0px;

}

.properties-wrapper, .proto-wrapper{
    min-height: 100%;
    height: 100%;
}

.toolbar-container, .properties-container, .proto-container {
    max-height: 100%;
    overflow: hidden;
    background: rgba(250,250,250,0.95);
}

.properties-container, .proto-container {
    overflow-y: scroll;
}

.btn {
    display: inherit;
    margin-bottom: 0;
    font-weight: inherit;
    text-align: inherit
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    opacity: 1;
    border: none;
    white-space: nowrap;
}
.horz-btn{
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #cccccc;
}

.btn-tool{
    width:36px;
    height:36px;
    padding: 0;
    border-radius:0;
    border-bottom: solid 1px #B2B2B2;
    background-image: url(../images/icons2.svg);
    background-size: 36px 665px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
}

.btn-tool-horz{
    float:left;
    border-bottom: none;
    border-left: solid 1px #B2B2B2;
}
.btn-tool-horz-last{
    border-right:solid 1px #B2B2B2;
}
.btn-tool.active{
    background-color: rgba(200, 200, 200, 0.88);
}

#redoTool {
    background-position-y: -108px;
}
#undoTool {
    background-position-y: -72px;
}
#scaleTool {
    background-position-y: -144px;
}
#rotateTool {
    background-position-y: -252px;
}
#followPathTool {
    background-position-y: -180px;
}
#selectTool {
    background-position-y: -360px;
}
#dselectTool {
    background-position-y: -396px;
}
#penTool {
    background-position-y: -288px;
}
#polyTool {
    background-position-y: -324px;
}
#ellipseTool {
    background-position-y: 0px;
}
#rectangleTool {
    background-position-y: -36px;
}
#generateTool {
    background-position-y: -216px;
}
#constraintTool {
    background-position-y: -522px;
}
#modeStandard{
 background-position-y: -432px;
}
#modeProxy{
 background-position-y: -468px;
}
#modRelative{
 background-position-y: -504px;
 background-position-x: -18px;
 width:20px;
 height:20px;
 border: solid 1px #B2B2B2;
 border-right:none;

}
#modOverride{
background-position-y: -504px;
width:20px;
height:20px;
border: solid 1px #B2B2B2;
}

#rangechaser {
    position: absolute;
    float: right;
    align-content: block;
    height: 3px;
    border-bottom: 1px solid #B2B2B2;
    box-sizing: border-box;
    text-align: right;
    margin: 0;
    margin: 11px 0 0 118px;
    top: 0;
    left: 0;
}

select{
    min-width:200px;
}

#toolbar{
    border-right: solid 1px #B2B2B2;
}
#modToolbar{
    height:20px;
    float:left;
    margin: 7px 0 0 0;
}
#horz-toolbar{
  }
#horz-toolbar span{
    float:left;
    margin:10px 10px;
}

input[type="button"]{
    background-color: inherit;
    border: 1px solid #B2B2B2;
}

.top-cap{
    height: 20px;
    background-color: #141414;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px #B2B2B2;
}

.bottom-cap{
    height: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #34332F;

}

.container{
    width:100%;
    padding:0;
}

section {
    position: relative;
}

#constraint-wheel-box {
    visibility: hidden;
}

#expInput {
  display: none;
}

#relationIndicator {
  float: left;
  width: 36px;
  height: 36px;
  border: 1px #aaa solid;
  background-position-y: -628px;
}

input[type=text]#expression {
  border: #aaa 1px solid;
  margin-top: 5px;
  height: 36px;
}

#relationSelector {
  position: absolute;
  visibility: hidden;
  top: 100px;
  left: -26px;
  height: 36px;
  width: 108px;  
} 

.btn-relation {
  height: 36px;
  width: 36px;
  background-image: url(../images/icons2.svg);
  background-size: 36px 665px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  border: 1px #aaa solid;
}

#less {
  float: left;
  top: 0px;
  left: 0px;
  background-position-y: -557px;
}

#equal {
  float: left;
  top: 0px;
  left: 36px;
  background-position-y: -629px;
}

#more {
  top: 0px;
  left: 72px;
  background-position-y: -593px;
}

#position:hover {
    fill: #FF0000;
    stroke: #FF0000;
}

#scale:hover {
    fill: #FF0000;
    stroke: #FF0000;
}

#orient-arrows:hover > #orient1{
    fill: #FF0000;
    stroke: #FF0000;
}

#orient-arrows:hover > #orient2{
    fill: #FF0000;
    stroke: #FF0000;
}

#fill:hover {
    fill: #FF0000;
}

#weight:hover {
    fill: #FF0000;
}

#stroke:hover > #stroke-inner {
    stroke: #FF0000;
    fill: #FF0000;
}

#stroke:hover > #stroke-outer {
    stroke: #FF0000;
    fill: #FF0000;
}
    

#constraint-type-box {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display:block;
    margin-bottom: 5px;
}

#more-container:hover > #more-box {
    stroke: #34332F;    
}

#more-container:hover > #more {
    stroke: #34332F;
}

#less-container:hover > #less-box {
    stroke: #34332F;    
}

#less-container:hover > #less {
    stroke: #34332F;    
}

#equal-container:hover > #equal-box {
    stroke: #34332F;    
}

#equal-container:hover > #equal-top {
    stroke: #34332F;    
}

#equal-container:hover > #equal-bottom {
    stroke: #34332F;    
}

.section-background {
    padding: 10px;
}

.toolbar-current {
    left: 0;
    position: absolute;
    width: 36px;
    background-color: #34332F;
    color: #F7F6EE;
    opacity: .66;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.95);
}

.properties, .proto{
    right: 0;
    top: 0;
    bottom: 0;
    width: 224px;
    height: 100%;
    color: #34332F;
}

.proto{
    width: 100px;
    left: 0;

}

.proto-item{
    background-color: #232323;
    margin-bottom: 1px;

}

header h2, .sub-header h3 {
    float: left;
}

.pop-over.header h2 {
    float:left;
    line-height: 18px;
}

.sub-header h3 {
    opacity: .66;
}

header button, .sub-header button {
    float: right;
    height: 16px;
    width: 16px;
}

.properties header, .layers-menu header{
    padding: 4%;
    box-sizing: border-box;
    line-height: 10pt;
    background-color: rgba(200, 200, 200, 0.88);
}
.layers-menu header{
    height:33px
}

#horz-toolbar header {
        background-color: rgba(200, 200, 200, 0.88);
        width:20px;
        height:36px;
        float: left;
    }

.clearfix {
    clear: both;
    display: block;
}

#logo{
    width:133px;
    height: 62px;
    float:left;
    background-color: #fff;
    padding: 5px;
    padding-left: 10px;
}

#help{
    width:49px;
    height: 62px;
    padding: 10px;
    padding-left: 17px;
    float:left;
    background-color: #fff;
    border-left: 1px solid #eee;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.container-fluid{
    padding-right: 0;
}

span:hover{
    cursor: default;
    outline:none;
    border:none;
    box-shadow:none;
}

span:focus{
    border:none;
}

#toolbar{
    float:right;
    padding: 0;
}

#group-menu{
    height:30px;
    background-color:#D9E8F5;
}

#object-menu{
    min-height: 200px;
}

#canvas-container{
    overflow: hidden;
}

#canvas-container:focus{
    outline:none;
    border:none;
    box-shadow:none;
}

#context-menu,  #behavior-types-menu, .layers-menu{
    position: absolute;
    visibility: hidden;
    z-index: 2;
    //min-width:140px;
    //min-height:60px;
    background: rgba(250,250,250,0.95)    
}
.layers-menu{
    visibility: visible;
}
.layers-menu li{
    list-style-type: none;
    width: 140px;
    height: 20px;
    padding:0;
    margin: 0;
    border-bottom: 1px solid #B2B2B2;
}
.layers-menu ul{
    width:140px;
    padding:0;
    margin:0;
}

.layers-menu div.visible, .layers-menu div.filled, .layers-menu div.name{
    float: left;
    height:20px;
    border-right: 1px solid #B2B2B2;

}

.layers-menu div.visible, .layers-menu div.filled {
    width:20px;
    background-image: url(../images/layer_icons.svg);
      background-position-x: 0px;
 background-size: 20px 80px;
  background-repeat: no-repeat;
  
}
.layers-menu div.visible{
    background-position-y: 0px;
}

.layers-menu div.filled{
    background-position-y: -40px;
}

.layers-menu div#active.visible{
    background-position-y: -20px;
}

.layers-menu div#active.filled{
    background-position-y: -60px;
}

.layers-menu div.name{
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

#constraint-menu {
    width: 100%;
    height: 100%;
}

#color-chooser{
    min-width:140px;
    min-height:60px;
}

#behavior-types-menu{
    z-index:3;
}

#context-menu a{
    cursor: pointer;
}

#context-menu div.row {
    padding:6px;
    min-height: 20px;
    background: rgba(250,250,250,0.95)    
}

#context-menu div.row#title-bar {
    min-height: 30px;
    padding: 4%;
    box-sizing: border-box;
    background: rgba(238, 238, 238, 0.88);
}

#context-menu #name{
    width:100px;
    float:left;
}

#context-menu div#close{
    float:right;
    font-weight: bolder;
    width: 10px;
    color:inherit;
}

#canvas{
    background-color: #5B5B5B;
}

#sub-canvas{
    width:258px;
    height:298px;
    background-color: #232323;
}


.input-group-addon{
    padding:0 l
    font-size: inherit; 
    font-weight: inherit; 
    line-height: inherit; 
    color: inherit; 
    text-align: inherit; 
    background-color: inherit; 
    border: none;
}

.form-group {
    margin-bottom: 10px;
}

.color-block{
    width:20px;
    height: 20px;
    border:solid 1px #76777a;
    display: block; 
    float:left;
    margin-right: 5px;
    cursor: pointer;
}

.color-block-selected{
    border:double 3px #76777a;
}

.color-form-group{
    float:left;
    display: inline
}

.color-form-group input{
    width:60px;
}

.remove-color{
    background-image: url('../images/nocolor.png') !important;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: #fff !important; 
}

#no-color{
    width:12px;
    height: 12px;
    margin-top: 20px;
}

.form-control{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: inherit;
    background-color: inherit;
    background-image: none;
    border: 1px solid #B2B2B2;
    -webkit-box-shadow: none;
    box-shadow:none;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*------ file select styling ------*/

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'upload a file';
    display: inline-block;
    background: inherit;
    border: 1px solid #B2B2B2;
    border-radius: 1px;
    padding: 3px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: none;
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    text-rendering: geometricPrecision;
    margin-top:5px;
}

.custom-file-input:hover::before {
    border-color:  #B2B2B2;
}

.custom-file-input:active::before {
    background: inherit;
}

/*------ color picker styling ------*/

.iris-picker {
    margin-bottom: 10px;
}

.iris-border {
    border-radius: 0 !important;
    border-color: #B2B2B2 !important;
    background-color: inherit !important;
}

.iris-picker .iris-square-handle {
    border: 2px solid #ccc !important;
    border-color: #34332F !important;
}

.iris-picker .iris-square-handle::after {
    border: 1px solid #ccc !important;
    border-radius: 50%;
    content: " ";
}

.iris-strip .ui-slider-handle:before {
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
}

.iris-picker .iris-strip .ui-slider-handle {
    border: 4px solid #34332f !important;
    border-width: 4px 3px !important;
    border-radius:0px !important; 
    box-shadow: none !important;
    opacity: 1 !important; 
}

